<div>
  <div class="container">
      <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
          <h1 class="wv-heading--title">
            Sign up!
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="myform form fbo">
            <fieldset>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field form-group">
                <%= f.label :email, html: {class: "form-control my-input"} %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control my-input" %>
              </div>
              <div class="field form-group">
                <%= f.label :username %><br />
                <%= f.text_field :username, autocomplete: "username", class: "form-control my-input" %>
              </div>

              <div class="field form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control my-input" %>
              </div>

              <div class="field form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control my-input" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>