<!DOCTYPE html>
<html>
<head>
  <title>KnowItAll</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="back-color">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <div id="home" class="nav-link navbar">
      <%= link_to 'Home', root_path %>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      <%- if current_user -%>
      <li class="nav-link">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </li>
        <%- else -%>
      <li class="nav-link">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </li>
      <li class="nav-link">
        <%= link_to 'Sign In', new_user_session_path %>
      </li>
        <%- end -%>
    </ul>
  </div>
  <section>
</nav>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
